.foodSwipeCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.swipe {
  position: absolute;
}

.card {
  background-color: #fff;
  width: 600px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
}

.card h3 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.card p {
  color: #fff;
  font-size: 18px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
